@import 'vars.scss';

* {
    box-sizing: border-box;
}

.application {
    max-width: 320px;
    min-width: 320px;
    margin: 0 auto;
    box-shadow: 0px 0px 4px -1px #ccc;
}

.container {
    position: relative;
    margin-top: 23px;
    padding: 0 40px;
}